.footer
    background-color: var(--color-main-bg)
    border-top: 1px solid rgba(#fff, 0.2)
    &__container
        position: relative
        display: flex
        align-items: center
        justify-content: space-between
        padding: 40px 15px 50px
    &__nav
        +bp900-block
            position: absolute
            z-index: 3
            left: 0
            right: 0
            bottom: 100%
            display: flex
            justify-content: center
    &__developer
        position: absolute
        bottom: 15px
        font-size: 12px
        left: 120px
        white-space: nowrap
        transform: translateX(-50%)
        a
            color: var(--color-blue)
            &:hover
                text-decoration: underline
            
                
    