.header
    position: relative
    z-index: 3
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 32px
    height: 70px
    &__nav
        +xl-block
            margin-left: 0

.logo
    display: flex
    flex-shrink: 1000
    align-items: center
    +sm-block
        transform: scale(0.8)
    &__text
        margin-left: 25px
        +xs-block
            display: none
    &__title
        margin-bottom: 10px
    &__subtitle
        color: #7e88a1
        font-size: 12px
        max-width: 150px

.nav
    +lg-block
        display: flex
        align-items: center
        position: absolute
        left: 0
        right: 0
        top: calc(100% + 20px)
        justify-content: center

.navigation
    display: flex
    +xs-block
        justify-content: space-around
        width: 100%
    > li
        +lg-block
            margin-bottom: 20px
        &:not(:last-child)
            margin-right: 50px
            +xs-block
                font-size: 15px
                &:not(:last-child)
                    margin-right: 0
        > a
            transition: color .3s
            &:hover
                color: var(--color-blue)
                