.hero
    display: grid
    grid-template-rows: 80px 1fr
    height: 100vh
    min-height: 800px
    +bp900-block
        grid-row-gap: 100px
        height: initial
    &__content
        display: grid
        align-items: center
        align-self: center
        grid-template-columns: max-content minmax(min-content, 700px)
        grid-template-rows: min-content min-content min-content
        justify-content: space-between
        +bp900-block
            grid-template-rows: min-content min-content min-content
            grid-template-columns: minmax(min-content, 3fr) 2fr
        +sm-block
            grid-template-columns: 1fr
.hero-img
    grid-row: 1/4
    grid-column: 1/2
    +col
    margin-left: 3px
    padding: 0 20px
    +bp900-block
        margin: 0 auto 30px
        grid-column: 1/2
        grid-row: 2/3
    +sm-block
        grid-column: 1/3
        grid-row: 2/3
    &__main-img
        position: relative
        z-index: 2
        margin: 0 auto
    &__link
        position: relative
        z-index: 3
        display: block
        transition: color .3s
        font-size: 12px
        margin-left: 10px
        > span
            font-size: 22px
        &:hover
            color: var(--color-blue)
    > div
        position: relative

.hero-text
    position: relative
    z-index: 3
    grid-column: 2/3
    grid-row: 1/2
    +bp900-block
        margin: 0
        grid-column: 1/3
        grid-row: 1/2
        text-align: center
        h1
            margin: 0 auto 30px
            + p
                max-width: 100%
    > h1
        margin-bottom: 40px
        + p
            margin-bottom: 48px
    &__icons
        margin-left: -25px
        margin-bottom: 50px
        +bp1250-block
            margin-left: 0

.hero-info
    position: relative
    z-index: 3
    width: 100%
    max-width: 600px
    overflow: auto

.hero-icons
    display: flex
    justify-content: space-between
    text-align: center
    +bp900-block
        flex-direction: column
        margin: 0 auto 20px
    +sm-block
        flex-direction: row
        width: 500px
    &__icon
        flex-basis: calc(33.333% - 30px)
        +bp900-block
            margin-bottom: 30px
        > img
            display: block
            margin: 0 auto
        > p
            margin: 0 auto
            max-width: 140px
            margin-top: 30px
            line-height: 26px
            &:first-child
                max-width: 125px

.hero-btns
    position: relative
    z-index: 3
    grid-row: 3/4
    grid-column: 2/3
    +bp900-block
        grid-row: 4/5
        grid-column: 1/3
        justify-self: center


                
                
            
            
            