.main
    background-color: var(--color-main-bg)
    overflow-x: hidden
    &__bg
        position: absolute
        z-index: 0
        width: 1905px
        transform: scale(1.1)
        top: -240px
        left: -350px
        animation: svg_scale ease-in infinite 5s


@keyframes svg_scale
    0%
        transform: scale(1.1)
        top: -240px
        left: -350px
    60%
        transform: scale(1.2)
        top: -200px
        left: -320px
    100%
        transform: scale(1.1)
        top: -240px
        left: -350px


                    