.main
    background-color: var(--color-main-bg)
    background-image: url('./static/img/main-bg.png')
    background-position: top left
    background-repeat: no-repeat
    &__adv
        margin-bottom: 199px