html
    scroll-behavior: smooth
body
    color: var(--color-white)
    font-size: $bodyFz
    font-family: '#{$mainFont}', sans-serif
    font-weight: $bodyFw
    line-height: 1

.swiper-arrow
    fill: #686868
    width: 50px
    height: 30px
    
.swiper-btns
    margin: 10px 0
    display: flex
    > *
        cursor: pointer
        svg
            transition: fill .3s, transform .3s
        &:hover
            svg
                fill: var(--color-white)
                transform: scale(1.2)

.main-btn
    +font(16, 12)
    padding: 19px 35px
    border: 1px solid var(--color-blue)
    border-radius: 4px
    background: transparent
    transition: background-color .3s, border .3s
    cursor: pointer
    color: var(--color-white)
    +sm-block
        padding: 10px 20px
    &:focus
        outline: none
    &:hover
        border: 1px solid transparent
        background-color: var(--color-blue)
    &:active
        border: 1px solid var(--color-blue)
        background-color: rgba(#fff, 0.1)


.btn-blue
    display: inline-block
    background-color: var(--color-blue)
    color: var(--color-white)
    border: 1px solid transparent
    padding: 17px 69px
    font-size: 18px
    border-radius: 4px
    transition: background-color .3s, border .3s
    cursor: pointer
    &:focus
        outline: none
    &:hover
        border: 1px solid var(--color-blue)
        background-color: transparent
    &:active
        background-color: rgba(#fff, 0.1)
h1
    max-width: 710px
    font-size: 65px
    +font(64, 26)
    line-height: normal
    > span
        color: var(--color-blue)
    + p
        +font(36, 20)
        line-height: 48px
        max-width: 500px

h2
    +font(60, 26)
    text-align: center

.box-error
    color: #ff4040

