html
    scroll-behavior: smooth
body
    color: var(--color-white)
    font-size: $bodyFz
    font-family: '#{$mainFont}', sans-serif
    font-weight: $bodyFw
    line-height: 1


.swiper-arrow
    fill: #686868
    width: 50px
    height: 30px
    
.swiper-btns
    margin: 10px 0
    display: flex
    > *
        cursor: pointer
        svg
            transition: fill .3s, transform .3s
        &:hover
            svg
                fill: var(--color-white)
                transform: scale(1.2)

.main-btn
    font-size: 16px
    padding: 19px 35px
    border: 1px solid var(--color-blue)
    border-radius: 4px
    background: transparent
    transition: background-color .3s, border .3s
    &:hover
        border: 1px solid transparent
        background-color: var(--color-blue)
h1
    max-width: 704px
    font-size: 65px
    > span
        color: var(--color-blue)
    + p
        line-height: 48px
        font-size: 36px
        max-width: 500px

h2
    text-align: center
    font-size: 60px